__pycache__/
**/__pycache__/
*.pyc

src/DashboardApp/logs.txt
src/run_agendamentos.py 

pvrv/
output/
docs-sphinx/_build/

lib/

app

#! Comandos para retirar o cache no github e manter os arquivos na maquina local
# git rm -r --cached .
# git add .
