pandas
numpy
deap
streamlit
pandapower
PySide6


plotly
matplotlib

streamlit_ace
streamlit_option_menu
streamlit-vis-timeline

openpyxl
xlsxwriter
rich


igraph
pyvis 
networkx 

fpdf2
ipython
google-generativeai

sphinx
furo

pydata-sphinx-theme
sphinx-book-theme
myst-parser
mkdocs

