pandas
numpy
deap
streamlit
pandapower
PySide6

plotly
matplotlib

streamlit_ace
streamlit_option_menu
streamlit-vis-timeline

openpyxl
xlsxwriter
rich
numba

igraph
pyvis 
networkx 


fpdf2
ipython
google-generativeai



